@import url('https://fonts.cdnfonts.com/css/sofachrome');

body {
  font-family: 'Sofachrome Rg', sans-serif;
  background-image: url("https://img.freepik.com/free-vector/hand-drawn-rainbow-glitter-background_23-2149725339.jpg?t=st=1726210006~exp=1726213606~hmac=9e367362cac74040f588063646924c032919e176ffc371849c1241d928e2e523&w=1380");
  background-size: cover;
 margin: 0;
overflow: hidden;
}

.container {
  display: grid;
  place-items: center;
    height: 100vh;
    overflow: hidden;

}


.modal {
  padding: 3px;
  background: #BDCED6
}


.modal header {
  display: flex;
  justify-content: space-between;
}

.floater {
  position: absolute;
   opacity: 0;
  transition: opacity 1s ease-in-out;
}

.floater.show {
  opacity: 1;
}

.container > .floater:nth-child(1) {
 top: 100px;
  left: 100px;
}

.container > .floater:nth-child(3) {
  bottom: 200px;
  right: 100px;
}

.icons {
  margin-right: 3px;
  img {
    cursor: pointer;
    width: 13px;
  }
}

.star {
  position: absolute;
  right: 0;
  bottom: 0;
}

.navbar {
  display: flex;
  margin: 8px;
  gap: 20px;
  justify-content: right;
  font-size: 21px;

  a {
   text-decoration: none;
   color: black; 
  }
  a:hover {
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}